body {
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:100%;
}
.top-bar {
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	height:auto;
	overflow:hidden;
	min-height:88px;
	max-height:88px;
	z-index:20;
	background-image:url('../../img/user/bg.jpg');
	background-size:cover;
	background-position:center;
	opacity:0.8;
	border-bottom:1px solid #fff;
}
.logo {
	margin-left:20px;
	width:48px;
	height:48px;
}
.logo + h1 {
	width:calc(100% - 108px);
	padding-right:20px;
	line-height:120%;
}
.container {
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:0;
	min-height:300px;
}
.container .map {
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:0;
}
.container .toggle-button-35:first-of-type {
	position:fixed;
	bottom:10px;
	left:10px;
	z-index:15;
}
.container .toggle-button-35:last-of-type {
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:15;
}
.container .toggle-button-35.close:first-of-type {
	left:0px;
	bottom:0px;
}
.container .toggle-button-35.close:last-of-type {
	bottom:0px;
}
.container .toggle-button-35.toggle-button-black div {
	border-bottom-color:#52c26e !important;
}
.container .aside {
	position:fixed;
	top:88px;
	bottom:0px;
	width:240px;
	background:rgba(255,255,255,0.25);
	overflow-x:hidden;
	overflow-y:auto;
	-webkit-transition:left 0.3s, width 0.3s, right 0.3s;
	-moz-transition:left 0.3s, width 0.3s, right 0.3s;
	-ms-transition:left 0.3s, width 0.3s, right 0.3s;
	-o-transition:left 0.3s, width 0.3s, right 0.3s;
	transition:left 0.3s, width 0.3s, right 0.3s;
	z-index:5;
}
.container .aside.left {
	left:-400px;
}
.container .aside.right {
	right:-400px;
}
.container .aside.left.open {
	left:0px;
}
.container .aside.right.open {
	right:0px;
}
@media all and (max-width:260px) {
	.container .aside {
		width:100%;
	}
}
.container .aside .scroll {
	width:100%;
	height:calc(100% - 45px);
	overflow-x:hidden;
	overflow-y:auto;
}
.container .aside .scroll .content {
	display:block;
	width:100%;
}
.container .aside .span-2-0.divide {
	border-right:1px solid #fff;
	width:calc(50% - 1px);
}
.container .aside .span-3-0.divide {
	border-right:1px solid #fff;
	width:calc(33.33333333% - 1px);
}
.container .aside .title.divide {
	border-bottom:1px solid #fff;
}
.container .aside.user .pic {
	overflow:hidden;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	width:150px;
	height:150px;
	background-image:url('../../img/user/bg.jpg');
	background-size:cover;
	background-position:center;
}
.container .aside.user .pic .button {
	margin-top:calc(100% - 39px);
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	transition:none;
}
.container .aside.parties {
	width:300px;
}
@media all and (max-width:320px) {
	.container .aside.parties {
		width:100%;
	}
}
.container .aside .button:hover {
	opacity:1;
}
.container .aside .input, .container .aside .button, .container .aside .title {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	padding:10px 15px;
	background:#5fcd83;
	width:100%;
	opacity:0.8;
	-webkit-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	-ms-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;
	transition:opacity 0.3s;
}
.container .aside button.button {
	opacity:1;
	background:#4bb465;
}
.container .aside button.button:hover {
	opacity:0.75;
}
.container .aside .title {
	opacity:1 !important;
}
.container .aside .input:hover, .container .aside .input:focus {
	opacity:1;
}
.container .aside.parties {
	background:rgba(95,205,131,0.8);
}
.container .aside.parties select.input {
	opacity:0.45;
}
.container .aside.parties select.input:hover {
	opacity:1;
}
.container .aside .party {
	border-top:1px solid #fff;
	height:60px;
	width:100%;
	background:#5fcd83;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
	overflow:hidden;
}
.container .aside .party .check {
	float:left;
	display:block;
	width:36px;
	height:100%;
	line-height:60px;
	text-align:center;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
}
.container .aside .party .check span {
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
}
.container .aside .party.checked {
	height:90px;
}
.container .aside .party.checked .check {
	background:#7fd895;
	line-height:90px;
}
.container .aside .party .check:hover > span {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
}
.container .aside .party .party-title {
	float:left;
	line-height:60px;
	width:calc(100% - 36px);
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
}
.container .aside .party .party-title span {
	display:block;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	max-height:60px;
}
.container .aside .party .party-title span:first-of-type {
	max-width:calc(100% - 100px);
	padding-left:15px;
	float:left;
}
.container .aside .party .party-title span:last-of-type {
	float:right;
	padding-right:15px;
	max-width:60px;
}
.container .aside .party.checked .party-title {
	line-height:48px;
}
.container .aside .party .time {
	opacity:0;
	height:42px;
	float:left;
	width:calc(100% - 36px);
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
}
.container .aside .party.checked .time {
	opacity:1;
}
